main {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 20rem);
    align-items: start;
    padding: 1rem;
}

.challenge-card {
    padding: 1rem;
    background-color: #333;
    border-radius: .5rem;
}

.details > * {
    margin-bottom: .5rem;
}

.actions-stopped, .actions-deployed, .actions-queued-start, .actions-queued-restart, .actions-queued-stop, .actions-deploying {
    display: none;
}
.challenge-card[data-state="stopped"] .actions-stopped { display: inherit; }
.challenge-card[data-state="deployed"] .actions-deployed { display: inherit; }
.challenge-card[data-state="queued_start"] .actions-queued-start { display: inherit; }
.challenge-card[data-state="queued_restart"] .actions-queued-restart { display: inherit; }
.challenge-card[data-state="queued_stop"] .actions-queued-stop { display: inherit; }
.challenge-card[data-state="deploying"] .actions-deploying { display: inherit; }