/* Dashboard page styles */

main {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, 20rem);
    align-items: start;
    padding: 1rem;
}

.challenge-card {
    padding: 1rem;
    background-color: #333;
    border-radius: .5rem;
}

.details > *, .actions > * > *:not(:last-child) {
    margin-bottom: .5rem;
}

.details {
    margin-bottom: 1rem;
}

.actions-stopped, .actions-running, .actions-queued-start, .actions-queued-stop, .actions-queued-restart {
    display: none;
}
.challenge-card[data-state="stopped"] .actions-stopped { display: inherit; }
.challenge-card[data-state="running"] .actions-running { display: inherit; }
.challenge-card[data-state="queued_start"] .actions-queued-start { display: inherit; }
.challenge-card[data-state="queued_stop"] .actions-queued-stop { display: inherit; }
.challenge-card[data-state="queued_restart"] .actions-queued-restart { display: inherit; }

.coaster-background {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    z-index: -1;
    filter: opacity(.15);
}