@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color: #222;
    --text-color: #eee;
    --text-color-muted: #bbb;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 1rem;
}

p, h1, h2, h3, pre {
    margin: 0;
}

pre {
    overflow-x: scroll;
    padding: .5rem;
    background-color: #222;
}

.center-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.error {
    color: #f88;
}

.toastify.success, .toastify.info, .toastify.warning, .toastify.error {
    box-shadow: none;
    color: var(--text-color);
}
.toastify.success { background: #28a745; }
.toastify.info { background: #007bff; }
.toastify.warning { background: #ffc107; }
.toastify.error { background: #dc3545; }