@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --background-color: #222;
    --text-color: #eee;
}

body {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    background-color: var(--background-color);
    color: var(--text-color);
}

.center-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}