<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UnitedCTF Instancer</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/dashboard.css">

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="nav-selected">Défis 🚩</a></li>
                <li><a href="/shell">Shell 💻</a></li>
                <li><a href="/help">Aide 🤔</a></li>
            </ul>
        </nav>
        <div class="logout">
            <a href="/logout">Déconnexion</a>
            <img class="avatar" src="{{ avatar_url }}" alt="avatar discord">
        </div>
    </header>
    <main id="challenges-ctn">
    </main>

    <script src="/js/dashboard.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>