<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UnitedCTF Instancer</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/help.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/">Défis 🚩</a></li>
            <li><a href="/help" class="nav-selected">Aide 🤔</a></li>
        </ul>
    </nav>
    <div class="logout">
        <a href="/logout">Déconnexion</a>
        <img class="avatar" src="{{ avatar_url }}" alt="avatar discord">
    </div>
</header>

<main>
    <div class="qa" data-open="false">
        <h2>À quoi sert ce site? / What's the point of this site?</h2>
        <p>
            Certains défis du UnitedCTF peuvent être destructifs (un.e jou.eur.euse pourrait affecter l'expérience d'un.e autre).<br>
            Ce site permet donc d'obtenir une instance individuelle hébergée de plusieurs défis disponibles.
        </p>
        <br>
        <p>
            Certain challenges of the UnitedCTF can be destructive (where one player can affect the experience of another in some way shape or form).<br>
            This site lets you get an individual instance for a few of the available challenges.
        </p>
    </div>

    <div class="qa" data-open="false">
        <h2>Comment ça marche? / How does it work?</h2>
        <p>
            C'est simple! Allez dans la section "Défis 🚩" et cliquez sur "Démarrer" pour démarrer une instance du défi de votre choix.<br>
            Une fois démarré, les détails de connexion devraient s'afficher. Vous avez aussi l'option d'arrêter, de redémarrer ou d'étendre la durée de vie de votre instance.
        </p>
        <br>
        <p>
            It's simple! Just go over to the "Défis 🚩" section and click on "Démarrer" to start an instance of the challenge of your choice.<br>
            Once started, the connection details should show up. You also have the option to stop, restart or extend the lifetime of your instance.
        </p>
    </div>

    <div class="qa" data-open="false">
        <h2>Durée de vie? / Lifetime?</h2>
        <p>
            Puisque chaque instance individuelle prend une certaine quantité de ressources, chaque défi possède une certaine durée de vie afin d'éviter le gaspillage de ressources.<br>
            Cela dit, une fonctionnalité d'extension de durée de vie est disponible afin d'obtenir plus de temps sur une instance du défi et pour éviter de perdre son progrès.
        </p>
        <br>
        <p>
            Since each individual instance takes a certain amount of resources, each challenge has a certain lifetime to prevent the waste of resources.<br>
            That being said, a lifetime extension functionality is available to obtain more time on a challenge instance, that way, you can avoid losing your progress.
        </p>
    </div>

    <div class="qa" data-open="false">
        <h2>J'ai rencontré une problème, que faire? / I encountered an issue, what do I do?</h2>
        <ul>
            <li>Si le problème rencontré est en lien avec un défi en tant que tel, allez sur Discord et suivez les directives de support.</li>
            <li>Si le problème a été rencontré lors d'une manipulation sur le site de déploiement, attendez un peu et réessayez votre manipulation.</li>
            <li>Si le problème persiste, contactez @linkster78 sur Discord.</li>
        </ul>
        <br>
        <ul>
            <li>If the issue is related to a specific challenge, go over to Discord and follow the support directives.</li>
            <li>If the issue happened while doing something on the Instancer site, wait a bit and try again.</li>
            <li>If the issue persists, contact @linkster78 on Discord.</li>
        </ul>
    </div>

    <div class="qa" data-open="false">
        <h2>Autres questions? / Other questions?</h2>
        <p>
            Suivez les directives de support telles que décrites sur Discord.
        </p>
        <br>
        <p>
            Follow the support directives as described on Discord.
        </p>
    </div>
</main>

<img src="/img/coaster_outline.png" class="coaster-background" alt="roller coaster">

<script src="/js/help.js"></script>
</body>
</html>