<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UnitedCTF Instancer</title>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <main class="center center-contents">
        <img src="/img/logo.png" class="logo" alt="logo">
        <a class="login-button" href="{{ oauth2_url }}">Se connecter avec Discord</a>

        {%- if error.is_some() %}
        <p class="error">{{ error.unwrap() }}</p>
        {% endif %}
    </main>
</body>
</html>